* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Splash Screen */

.intro {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #161616;
    transition: 1s;
}

.intro.active {
    position: fixed;
    z-index: 1;
    left: 0;
    top: -100vh;
    width: 100%;
    height: 100vh;
    background-color: #161616;
    transition: 1s;
}
.logo-header {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
}

.intro-text {
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
    font-size: 4rem;
    
}

.intro-text.active {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.intro-text.fade {
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;

}